:root {
	--font-family: "Roboto", sans-serif;
	--font-weight-normal: 400;
	--font-weight-bold: 700;
	--primary-base: #043655;
	--primary-tint: #054369;
	--secondary-base: #fd7e14;
	--secondary-shade: #ff922b;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #f8f9fa;
	font-family: var(--font-family);
	font-weight: var(--font-weight-normal);
}

.container {
	max-width: 350px;
	width: 50%;
	margin: auto;
	border: 2px solid #031928;
	margin-top: 3rem;
	border-radius: 1.5rem;
	background-color: #031928;
}

.calculator-container {
	padding: 3rem 1.5rem;
}

.result-section {
	border: 2px solid var(--primary-base);
	border-radius: 1.5rem;
	width: auto;
	margin-bottom: 3rem;
	height: 100px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 0.5rem;
	font-size: 3.6rem;
	font-weight: 700;
	color: #f8f9fa;
}

.result-section > p {
	font-size: 2.4rem;
}

.computation-section {
	text-align: right;
	margin-bottom: 2rem;
	padding: 0 0.5rem;
	font-size: 1.6rem;
	color: #f8f9fa;
	height: 20px;
}

.btn-section {
	margin-top: 1rem;
	display: grid;
	/* grid-template-columns: 1fr 1fr 1fr 1fr; */
	grid-template-columns: repeat(4, 1fr); /* Alternative way to define 4 equal columns just like above */
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.equal-btn {
	grid-column: span 2; /* Makes the equal button span across 2 columns */
}

.equal-btn:hover {
	background-color: var(--secondary-shade) !important;
	border: 2px solid var(--secondary-shade) !important;
}

.btn {
	width: auto;
	height: 50px;
	font-size: 1.8rem;
	border-radius: 0.5rem;
	background-color: var(--primary-base);
	color: #f8f9fa;
	border: 2px solid var(--primary-base);
}

.btn:hover {
	background-color: var(--primary-tint);
	border: 2px solid var(--primary-tint);
}

.btn:active {
	transform: scale(0.95);
}

.operator {
	color: var(--secondary-base);
	font-weight: var(--font-weight-bold);
}

.actionBtn {
	color: var(--secondary-base);
	font-weight: var(--font-weight-bold);
}

.equal-btn {
	background-color: var(--secondary-base);
	border: 2px solid var(--secondary-base);
}

@media (max-width: 600px) {
	.container {
		width: 100%;
	}
}
