:root {
	--font-family: "Roboto", sans-serif;
	--font-weight-normal: 400;
	--font-weight-bold: 700;
	--primary-base: #04283f;
	--secondary-base: #f76707;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #f8f9fa;
	font-family: var(--font-family);
	font-weight: var(--font-weight-normal);
}

.container {
	max-width: 300px;
	width: 50%;
	margin: 0 auto;
	border: 2px solid #031928;
	margin-top: 3rem;
	border-radius: 1.5rem;
	background-color: #031928;
}

.calculator-container {
	padding: 3rem 1.5rem;
}

.result-section {
	border: 2px solid var(--primary-base);
	border-radius: 1.5rem;
	width: auto;
	margin-bottom: 3rem;
	height: 100px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 0.5rem;
	font-size: 3.6rem;
	font-weight: 700;
	color: #f8f9fa;
}

.computation-section {
	text-align: right;
	margin-bottom: 2rem;
	padding: 0 0.5rem;
	font-size: 1.6rem;
	color: #f8f9fa;
	height: 20px;
}

.btn-section {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.btn-section-last {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.btn {
	width: auto;
	height: 50px;
	font-size: 1.8rem;
	border-radius: 0.5rem;
	background-color: var(--primary-base);
	color: #f8f9fa;
	border: 2px solid var(--primary-base);
}

.operator {
	color: var(--secondary-base);
	font-weight: var(--font-weight-bold);
}

.equal-btn {
	background-color: var(--secondary-base);
	border: 2px solid var(--secondary-base);
}
